* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

body {
  color: #7c8082;
}
header {
  height: 102px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 2px solid #eeeeee;
}
.logoSection {
  width: 400px;
}

.logoImg {
  margin-top: 30px;
  width: 280px;
}

.menuSection {
  display: flex;
  flex-direction: column;
}

.login ul {
  display: flex;
  justify-content: flex-end;
}

.login li {
  margin-top: 10px;
  font-size: 11px;
  padding: 5px;
}

.login li:hover {
  cursor: pointer;
}

.menu ul {
  display: flex;
}

.question {
  color: #2980b9;
}

.menuList li {
  margin-top: 35px;
  font-size: 14px;
  width: 80px;
  height: 34px;
  text-align: center;
}

.menu li:hover {
  color: #2980b9;
  cursor: pointer;
  border-bottom: 2px solid #2980b9;
}

.hiddenMenu {
  display: flex;
}

.hamburger {
  margin-top: 50px;
  display: none;
  background-color: #2980b9;
  color: white;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

@media all and (max-width: 991px) {
  .menuList li {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: -45px;
  }
}
